@model CookbookLibrary.Entities.IngredientRecipe

@{
    ViewData["Title"] = "Create";
}
<style>
    h1 {
        font-size: 24px;
        margin-bottom: 20px;
        color: #333;
    }

    input[type="submit"] {
        margin-top: 10px;
        background-color: #773F26;
        color: #fff;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        font-size: 18px;
        cursor: pointer;
        text-align: center;
        width: 100%;
    }

    label {
        display: block;
        font-weight: bold;
        text-align: left;
    }

    input[type="text"],
    input[type="password"] {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 3px;
        font-size: 16px;
    }

    .text-danger {
        color: #f00;
    }

    .frame {
        width: 360px;
        margin: 0 auto;
        margin-top: 50px;
        padding: 20px;
        border-radius: 5px;
        text-align: center;
    }
</style>
<div class="frame">
<h1>Add quantity unit</h1>
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="quantity" class="control-label"></label>
                <input asp-for="quantity" class="form-control" />
                <span asp-validation-for="quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="unit" class="control-label"></label>
                <input asp-for="unit" class="form-control" />
                <span asp-validation-for="unit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" asp-action="AddToDatabase"/>
            </div>
        </form>
    </div>


