@model CookbookLibrary.Entities.Recipe

@{
    ViewData["Title"] = "NewRecipe";
}

<h1>Create</h1>

<h4>Recipe</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="NewRecipe">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" id="recipeId" name="recipeId" value="@Model.recipeId" />
            <div class="form-group">
                <label asp-for="title" class="control-label"></label>
                <input asp-for="title" class="form-control" />
                <span asp-validation-for="title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="imageUrl" class="control-label"></label>
                <input asp-for="imageUrl" class="form-control" />
                <span asp-validation-for="imageUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="description" class="control-label"></label>
                <input asp-for="description" class="form-control" />
                <span asp-validation-for="description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="instructions" class="control-label"></label>
                <input asp-for="instructions" class="form-control" />
                <span asp-validation-for="instructions" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="preparation_time" class="control-label"></label>
                <input asp-for="preparation_time" class="form-control" />
                <span asp-validation-for="preparation_time" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="servings" class="control-label"></label>
                <input asp-for="servings" class="form-control" />
                <span asp-validation-for="servings" class="text-danger"></span>
            <div class="form-group">
                <a asp-controller="IngredientRecipes" asp-action="Create">Next</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
