@model CookbookLibrary.Entities.User
@{
    ViewData["Title"] = "Login";
}
<!DOCTYPE html>
<head>
    <title>Login</title>
    <style>
        html{
            text-align: center;
            vertical-align: middle;
        }

        body {
            background-color:white;
            color: black;
            font-family: sans-serif;
            text-align:center;
            vertical-align: middle;
        }

        h1 {
            text-align:center;
            vertical-align: middle
            font-size: 2em;
            margin-bottom: 1em;
        }

        .frame{
            width:400px;
            text-align: center;
            vertical-align: middle;
            border-style: solid;
            border-color:black;
            border-width: 2px;
            border-radius: 10%;
        }

    </style>
</head>
<body>
    <div class="frame">
    <h1>Login</h1>

 
    <form asp-action="Login" method="post">
       <div>
            <label asp-for="username">Username</label>
            <input asp-for="username" />
       </div>
       <div>
            <label asp-for="password">Password</label>
            <input asp-for="password" type="password"/>
        </div>
        <div>
            <span class="text-danger">@Html.ValidationMessage("InvalidCredentials")</span>
        </div>
        <div>
            <input type="submit" value="Login" >
        </div>
    </form>

    <a href="/Users/Register">Register</a>
    </div>
</body>
</html>